name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Platane/snk@v3
        with:
          github_user_name: ThorvynX
          outputs: dist/github-contribution-grid-snake-dark.svg
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: snake
          path: dist
      - name: Push snake animation
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Generate snake animation"
          git push
